---
minimum_pre_commit_version: 3.2.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    # renovate: datasource=git-tags depName=https://github.com/pre-commit/pre-commit-hooks depType=devDependencies
    rev: 2c9f875913ee60ca25ce70243dc24d5b6415598c  # v4.6.0
    hooks:
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: end-of-file-fixer
      - id: check-merge-conflict
        args:
          - --assume-in-merge
      - id: check-yaml
      - id: check-ast
      - id: check-builtin-literals
      - id: debug-statements
        language_version: python3

  - repo: https://github.com/asottile/pyupgrade
    # renovate: datasource=git-tags depName=https://github.com/asottile/pyupgrade depType=devDependencies
    # skip this for now, 3.17 requires Python 3.9+
    rev: 32151ac97cbfd7f9dcd22e49516fb32266db45b4  # v3.16.0
    hooks:
      - id: pyupgrade
        name: Rewrite code for Py3.8+
        args:
          - --py38-plus

  - repo: https://github.com/PyCQA/isort
    # renovate: datasource=git-tags depName=https://github.com/PyCQA/isort depType=devDependencies
    rev: c235f5e450b4b84e58d114ed4c589cbf454175a3  # 5.13.2
    hooks:
      - id: isort
        args:
          - --py=38
          - --profile=black
          - --force-single-line
        exclude: project/src/\{\{ namespaced_package_path \}\}/__init__.py

  - repo: https://github.com/psf/black
    # renovate: datasource=git-tags depName=https://github.com/psf/black depType=devDependencies
    rev: b965c2a5026f8ba399283ba3e01898b012853c79  # 24.8.0
    hooks:
      - id: black
        name: Autoformat Python code
        args:
          - --line-length=100
          - --target-version=py38

  - repo: local
    hooks:
      - id: nox
        alias: lint-tests
        name: Lint Tests
        language: python
        entry: nox -e lint-tests-pre-commit --
        files: ^tests/.*\.py$
        require_serial: true
        additional_dependencies:
          # renovate: datasource=pypi depName=nox depType=devDependencies
          - nox==2024.4.15

  - repo: https://github.com/Mateusz-Grzelinski/actionlint-py
    # renovate: datasource=git-tags depName=https://github.com/Mateusz-Grzelinski/actionlint-py depType=devDependencies versioning=pep440
    rev: c01fb5723b54075325cd9b5e5665a9ae84baf950  # v1.7.1.15
    hooks:
      - id: actionlint
        additional_dependencies:
          # renovate: datasource=pypi depName=shellcheck-py depType=devDependencies
          - shellcheck-py==0.10.0.1
