{%- from pathjoin("includes", "workflows.j2") import expr -%}
---
name: upload-exitstatus
description: Upload a job's status as an artifact
inputs:
  artifact_prefix:
    required: false
    default: exitstatus-
  name:
    required: false
    default: ''

runs:
  using: composite

  steps:

      - name: Set Exit Status
        if: {{ expr("!cancelled()") }}
        env:
          OUTFILE: exitstatus/{{ expr("inputs.name == '' && github.job || inputs.name") }}
        shell: bash
        run: |
          mkdir exitstatus
          echo "{{ expr("job.status") }}" > "$OUTFILE"

      - name: Upload Exit Status
        if: {{ expr("!cancelled()") }}
        uses: actions/upload-artifact@{{ versions["actions/upload-artifact"] }}
        with:
          name: {{ expr("inputs.artifact_prefix") }}{{ expr("inputs.name == '' && github.job || inputs.name") }}
          path: exitstatus
          if-no-files-found: error
