import pytest

import {{ namespaced_package_pkg }}.serializers.{{ package_name }}_mod as {{ package_name }}_serializer


@pytest.fixture
def configure_loader_modules():
    module_globals = {
        "__opts__": {"this_does_not_exist_please_replace_it": True},
    }
    return {
        {{ package_name }}_serializer: module_globals,
    }


def test_replace_this_with_something_meaningful():
    assert "this_does_not_exist_please_replace_it" in {{ package_name }}_serializer.__opts__
    assert {{ package_name }}_serializer.__opts__["this_does_not_exist_please_replace_it"] is True
