{%- set welcome = "``{}``: Integrate Salt with {}".format(project_name_full, project_name | capitalize) %}
{%- set welcome_ruler = "=" * welcome|length %}
{{- welcome }}
{{ welcome_ruler }}

{{ summary }}

.. toctree::
  :maxdepth: 2
  :caption: Contents:

  all.rst

Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
