{%- set welcome = "``{}``: Integrate Salt with {}".format(project_name_full, project_name | capitalize) %}
{%- set welcome_ruler = "=" * welcome|length %}
{{- welcome }}
{{ welcome_ruler }}

{{ summary }}

.. toctree::
  :maxdepth: 2
  :caption: Provided Modules
  :hidden:
  {% for loader in loaders %}
  ref/{{ loader.rstrip("s") + ("" if loader in singular_loader_dirs else "s") }}/index
  {%- endfor %}

.. toctree::
  :maxdepth: 2
  :caption: Reference
  :hidden:

  changelog


Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
