{%- from pathjoin("includes", "workflows.j2") import expr -%}
---
name: Build Documentation

on:
  workflow_call:

permissions:
  contents: read

jobs:
  Docs:
    runs-on: ubuntu-{{ versions["ubuntu"] }}
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@{{ versions["actions/checkout"] }}
        with:
          fetch-depth: 0

      - name: Set up Python {{ venv_python }} For Nox
        uses: actions/setup-python@{{ versions["actions/setup-python"] }}
        with:
          python-version: "{{ venv_python }}"

      - name: Install Nox
        run: |
          pip install "nox==${NOX_VERSION}" "uv==${UV_VERSION}"
        env:
          NOX_VERSION: '{{ versions["nox"] }}'
          UV_VERSION: '{{ versions["uv"] }}'

      - name: Install Doc Requirements
        run: |
          nox --force-color -e docs --install-only

      - name: Build Docs
        env:
          SKIP_REQUIREMENTS_INSTALL: '1'
        run: |
          nox --force-color -e docs

      - name: Upload built docs as artifact
        uses: actions/upload-artifact@{{ versions["actions/upload-artifact"] }}
        with:
          name: html-docs
          path: docs/_build/html

      - name: Upload Exit Status
        if: {{ expr("!cancelled()") }}
        uses: ./.github/actions/upload-exitstatus
