{%- raw -%}
---
on:
  workflow_call:
    outputs:
      changed-files:
        description: "Changed file JSON output from dorny/paths-filter"
        value: ${{ jobs.get-changed-files.outputs.changed-files }}

jobs:
  get-changed-files:
    name: Get Changed Files
{%- endraw %}
    runs-on: ubuntu-{{ versions["ubuntu"] }}
{%- raw %}
    permissions:
      contents: read  # for dorny/paths-filter to fetch a list of changed files
      pull-requests: read  # for dorny/paths-filter to read pull requests
    outputs:
      changed-files: ${{ toJSON(steps.changed-files.outputs) }}

    steps:
{%- endraw %}
      - uses: actions/checkout@{{ versions["actions/checkout"] }}
{%- raw %}

      - name: Get Changed Files
        id: changed-files
{%- endraw %}
        uses: dorny/paths-filter@{{ versions["dorny/paths-filter"] }}
{%- raw %}
        with:
          token: ${{ github.token }}
          list-files: escape
          filters: |
            repo:
              - added|modified:
                - '**'
            deleted:
              - deleted:
                - '**'
            pre-commit:
              - added|modified|deleted:
                - .pre-commit-hooks/**
                - .pre-commit-config.y?(a)ml
                - .pylintrc
                - pyproject.toml

      - name: Echo Changed Files Output
        run: echo "${{ toJSON(steps.changed-files.outputs) }}"
{%- endraw %}
