{%- set pyver = salt_python_support[salt_version_major]["max"][1] -%}
{%- raw -%}
---
name: Salt Extension Python Package

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build:
    name: Build Python Packages (wheel and sdist)
{%- endraw %}
    runs-on: ubuntu-{{ versions["ubuntu"] }}

    steps:
      - uses: actions/checkout@{{ versions["actions/checkout"] }}
        with:
          fetch-depth: 0

      - name: Set up Python 3.{{ pyver }}
        uses: actions/setup-python@{{ versions["actions/setup-python"] }}
        with:
          python-version: "3.{{ pyver }}"
{%- raw %}

      - name: Install build tools
        run: >-
          python -m
          pip install
          build
          --user

      - name: Echo Version
        run: echo "${{ inputs.version }}"

      - name: Build Wheel
        run: |
          # The version of our PyPA publish action (specifically the twine version used in it)
          # does not support Core Metadata 2.4, which was introduced in setuptools release 77.
          # We cannot upgrade it until the release workflow has been refactored into standalone one.
          echo "setuptools<77" > "$RUNNER_TEMP/build-constraints.txt"
          PIP_CONSTRAINT="$RUNNER_TEMP/build-constraints.txt" python -m build --outdir dist/

      - name: Upload build artifacts
{%- endraw %}
        uses: actions/upload-artifact@{{ versions["actions/upload-artifact"] }}
{%- raw %}
        if: always()
        with:
          name: salt-extension-${{ inputs.version }}-packages
          path: dist/*
          retention-days: 5

      - name: Set Exit Status
        if: always()
        run: |
          mkdir exitstatus
          echo "${{ job.status }}" > exitstatus/${{ github.job }}

      - name: Upload Exit Status
        if: always()
{%- endraw %}
        uses: actions/upload-artifact@{{ versions["actions/upload-artifact"] }}
{%- raw %}
        with:
          name: exitstatus-${{ github.job }}
          path: exitstatus
          if-no-files-found: error
{%- endraw %}
