{%- set pyver = salt_python_support[salt_version_major]["max"][1] -%}
{%- raw -%}
---
name: Build Salt Extension Python Package

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    name: Build Python Packages (wheel and sdist)
{%- endraw %}
    runs-on: ubuntu-{{ versions["ubuntu"] }}

    steps:
      - uses: actions/checkout@{{ versions["actions/checkout"] }}
        with:
          fetch-depth: 0

      - name: Set up Python 3.{{ pyver }}
        uses: actions/setup-python@{{ versions["actions/setup-python"] }}
        with:
          python-version: "3.{{ pyver }}"
{%- raw %}

      - name: Install build tools
        run: >-
          python -m
          pip install
          build
          --user

      - name: Build Wheel
        run: python -m build --outdir dist/

      - name: Upload build artifacts
{%- endraw %}
        uses: actions/upload-artifact@{{ versions["actions/upload-artifact"] }}
{%- raw %}
        with:
          name: salt-extension-packages
          path: dist/*
          retention-days: 5

      - name: Upload Exit Status
        if: always()
        uses: ./.github/actions/upload-exitstatus
{%- endraw %}
