{%- raw -%}
---
name: Pull Request or Push

on:
  push:
    branches:
      - 'main'  # Run on pushes to main
    tags-ignore:
      - '*'   # Ignore pushes to tags
  pull_request:

jobs:
  call_central_workflow:
    name: CI
{%- endraw %}
    uses: ./.github/workflows/ci.yml
    with:
      deploy-docs: {{ (deploy_docs == "rolling") | lower }}
{%- raw %}
    permissions:
      contents: write
      id-token: write
      pages: write
      pull-requests: write
{%- endraw %}
