{%- from pathjoin("includes", "workflows.j2") import expr -%}
---
name: Pull Request

on:
  pull_request:

concurrency:
  # Abort obsolete runs when the PR is updated with new commits
  group: {{ expr("github.workflow") }}-{{ expr("github.ref") }}
  cancel-in-progress: true

jobs:
  call_central_workflow:
    name: CI
    uses: ./.github/workflows/ci.yml
    permissions:
      contents: read
      id-token: write
      pull-requests: read

  set_resolution:
    # This step is just so we can make github require this step, to pass checks
    # on a pull request instead of requiring all
    name: Set the CI Pipeline Exit Status
    # Not always() since that would resist cancellation of the whole run
    if: {{ expr("!cancelled()") }}
    needs:
      - call_central_workflow
    uses: ./.github/workflows/set-resolution-action.yml
