{%- raw -%}
---
name: Set the CI Pipeline Exit Status

on:
  workflow_call:

jobs:
  set-pipeline-exit-status:
    # This step is just so we can make github require this step, to pass checks
    # on a pull request instead of requiring all
    name: Set the CI Pipeline Exit Status
{%- endraw %}
    runs-on: ubuntu-{{ versions["ubuntu"] }}
{%- raw %}
    if: always()

    steps:
      - name: Download Exit Status Files
        if: always()
{%- endraw %}
        uses: actions/download-artifact@{{ versions["actions/download-artifact"] }}
{%- raw %}
        with:
          path: exitstatus
          pattern: exitstatus-*
          merge-multiple: true

      - name: Delete Exit Status Artifacts
        if: always()
{%- endraw %}
        uses: geekyeggo/delete-artifact@{{ versions["geekyeggo/delete-artifact"] }}
{%- raw %}
        with:
          name: exitstatus-*
          useGlob: true
          failOnError: false

      - name: Set Pipeline Exit Status
        if: always()
        run: |
          tree exitstatus
          grep -RE 'failure|cancelled' exitstatus/ && exit 1 || exit 0

      - name: Done
        if: always()
        run:
          echo "All workflows finished"
{%- endraw %}
