name: Pull Request or Push
{%- set base = "." %}
{%- set suffix = "" %}
{%- if workflows == "org" %}
{%-   set base = "salt-extensions/central-artifacts" %}
{%-   set suffix = "@main" %}
{%- endif %}
{%- set deploy_docs_bool = deploy_docs == "rolling" %}
{%- raw %}

on:
  push:
    branches:
      - 'main'  # Run on pushes to main
    tags-ignore:
      - '*'   # Ignore pushes to tags
  pull_request:

jobs:
  call_central_workflow:
    name: CI
{%- endraw %}
    uses: {{ base }}/.github/workflows/ci.yml{{ suffix }}
    with:
      deploy-docs: {{ deploy_docs_bool | lower }}
    permissions:
      contents: write
{%- if deploy_docs_bool %}
      id-token: write
      pages: write
{%- endif %}
      pull-requests: read
