{%- raw -%}
---
name: Publish Documentation

on:
  workflow_call:
    inputs:
      # This is the name of the regular artifact that should
      # be transformed into a GitHub Pages deployment.
      artifact-name:
        type: string
        required: false
        default: html-docs

jobs:

  # The released docs are not versioned currently, only the latest ones are deployed.
  #
  # Versioning support would require either (better):
  #   * Rebuilding docs for all versions when a new release is made
  #   * Version selector support in `furo`: https://github.com/pradyunsg/furo/pull/500
  #
  # or (more basic):
  #   * using the `gh-pages` branch and peaceiris/actions-gh-pages
  #     to be able to deploy to subdirectories. The implementation via
  #     actions/deploy-pages always replaces the directory root.

  Deploy-Docs-GH-Pages:
    name: Publish Docs to GitHub Pages

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      pages: write
      id-token: write
{%- endraw %}

    runs-on: ubuntu-{{ versions["ubuntu"] }}

    steps:
      - name: Download built docs
        uses: actions/download-artifact@{{ versions["actions/download-artifact"] }}
{%- raw %}
        with:
          name: ${{ inputs.artifact-name }}
          path: html-docs

      - name: Upload GitHub Pages artifact
{%- endraw %}
        uses: actions/upload-pages-artifact@{{ versions["actions/upload-pages-artifact"] }}
{%- raw %}
        with:
          name: html-docs-pages
          path: html-docs

      - name: Deploy to GitHub Pages
        id: deployment
{%- endraw %}
        uses: actions/deploy-pages@{{ versions["actions/deploy-pages"] }}
{%- raw %}
        with:
          artifact_name: html-docs-pages

      - name: Delete GitHub Pages artifact
        if: always()
{%- endraw %}
        uses: geekyeggo/delete-artifact@{{ versions["geekyeggo/delete-artifact"] }}
{%- raw %}
        with:
          name: html-docs-pages
          failOnError: false

      - name: Set Exit Status
        if: always()
        run: |
          mkdir exitstatus
          echo "${{ job.status }}" > exitstatus/${{ github.job }}

      - name: Upload Exit Status
        if: always()
{%- endraw %}
        uses: actions/upload-artifact@{{ versions["actions/upload-artifact"] }}
{%- raw %}
        with:
          name: exitstatus-${{ github.job }}
          path: exitstatus
          if-no-files-found: error
{%- endraw %}
