# Installation

Generally, extensions need to be installed into the same Python environment Salt uses.

:::{tab} State
```yaml
Install Salt {{ project_name | capitalize }} extension:
  pip.installed:
    - name: {{ project_name_full }}
```
:::

:::{tab} Onedir installation
```bash
salt-pip install {{ project_name_full }}
```
:::

:::{tab} Regular installation
```bash
pip install {{ project_name_full }}
```
:::

:::{hint}
Saltexts are not distributed automatically via the fileserver like custom modules, they need to be installed
on each node you want them to be available on.
:::
