"""
Salt roster module
"""

import logging
{%- if typing %}
import typing

if typing.TYPE_CHECKING:
    from {{ namespaced_package_pkg }}.utils._types import SaltFunctions
    from {{ namespaced_package_pkg }}.utils._types import SaltLogger

    __salt__: SaltFunctions

log: "SaltLogger" = logging.getLogger(__name__)  # type: ignore
{%- else %}

log = logging.getLogger(__name__)
{%- endif %}

__virtualname__ = "{{ package_name }}"


def __virtual__():
    # To force a module not to load return something like:
    #   return (False, "The {{ project_name }} roster module is not implemented yet")
    return __virtualname__
