---
name: CI

on:
  workflow_call


jobs:
  get-changed-files:
    name: Get Changed Files
    uses: ./.github/workflows/get-changed-files.yml

  pre-commit:
    name: Pre-Commit
    uses: ./.github/workflows/pre-commit-action.yml
    needs:
      - get-changed-files
    with:
      changed-files: ${{ needs.get-changed-files.outputs.changed-files }}

  test:
    name: Test
    needs:
      - pre-commit
    uses: ./.github/workflows/test-action.yml

  docs:
    name: Docs
    needs:
      - pre-commit
    uses: ./.github/workflows/docs-action.yml

  deploy-docs:
    name: Deploy Docs
    uses: ./.github/workflows/deploy-docs-action.yml
    # Only build doc deployments from the main branch of the org repo and never for PRs.
    if: >-
      github.event_name != 'pull_request' &&
      github.ref == 'refs/heads/main'
    needs:
      - docs
      - test

  set-pipeline-exit-status:
    # This step is just so we can make github require this step, to pass checks
    # on a pull request instead of requiring all
    name: Set the CI Pipeline Exit Status
    runs-on: ubuntu-22.04
    if: always()
    needs:
      - test
      - docs

    steps:
      - name: Download Exit Status Files
        if: always()
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16  # v4.1.8
        with:
          path: exitstatus
          pattern: exitstatus-*
          merge-multiple: true

      - name: Delete Exit Status Artifacts
        if: always()
        uses: geekyeggo/delete-artifact@f275313e70c08f6120db482d7a6b98377786765b  # v5.1.0
        with:
          name: exitstatus-*
          useGlob: true
          failOnError: false

      - name: Set Pipeline Exit Status
        run: |
          tree exitstatus
          grep -RE 'failure|cancelled' exitstatus/ && exit 1 || exit 0

      - name: Done
        if: always()
        run:
          echo "All workflows finished"
