name: Build Documentation

on:
  workflow_call:

jobs:
  Docs:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python 3.12 For Nox
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"

      - name: Install Nox
        run: |
          python -m pip install --upgrade pip
          pip install "nox==$NOX_VERSION" "uv==$UV_VERSION"
        env:
          # renovate: datasource=pypi depName=nox depType=devDependencies
          NOX_VERSION: '2025.11.12'
          # renovate: datasource=pypi depName=uv depType=devDependencies
          UV_VERSION: '0.9.22'

      - name: Install Doc Requirements
        run: |
          nox --force-color -e docs --install-only

      - name: Build Docs
        env:
          SKIP_REQUIREMENTS_INSTALL: true
        run: |
          nox --force-color -e docs

      - name: Upload built docs as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: html-docs
          path: docs/_build/html

      - name: Set Exit Status
        if: always()
        run: |
          mkdir exitstatus
          echo "${{ job.status }}" > exitstatus/${{ github.job }}

      - name: Upload Exit Status
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: exitstatus-${{ github.job }}
          path: exitstatus
          if-no-files-found: error
