---
name: Testing

on:
  workflow_call:

jobs:
  Linux:
    runs-on: ubuntu-24.04
    timeout-minutes: 45

    strategy:
      fail-fast: false
      max-parallel: 5

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # We need the full history for update tests
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Python 3.10
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.10'

      - name: Install Nox
        run: |
          python -m pip install --upgrade pip
          pip install "nox==$NOX_VERSION" "uv==$UV_VERSION"
        env:
          # renovate: datasource=pypi depName=nox depType=devDependencies
          NOX_VERSION: '2025.11.12'
          # renovate: datasource=pypi depName=uv depType=devDependencies
          UV_VERSION: '0.10.0'

      - name: Install Test Requirements
        run: |
          nox --force-color -e tests --install-only

      - name: Test
        env:
          SKIP_REQUIREMENTS_INSTALL: true
        run: |
          nox --force-color -e tests -- -vv --instafail tests/

      - name: Upload Logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: runtests-${{ runner.os }}.log
          path: artifacts/runtests-*.log

      - name: Set Exit Status
        if: always()
        run: |
          mkdir exitstatus
          echo "${{ job.status }}" > exitstatus/${{ github.job }}

      - name: Upload Exit Status
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: exitstatus-${{ github.job }}
          path: exitstatus
          if-no-files-found: error

  Windows:
    runs-on: windows-2025
    timeout-minutes: 60

    strategy:
      fail-fast: false
      max-parallel: 5

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # We need the full history for update tests
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Python 3.10
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.10'

      - name: Install Nox
        run: |
          python -m pip install --upgrade pip
          pip install "nox==$env:NOX_VERSION" "uv==$env:UV_VERSION"
        env:
          # renovate: datasource=pypi depName=nox depType=devDependencies
          NOX_VERSION: '2025.11.12'
          # renovate: datasource=pypi depName=uv depType=devDependencies
          UV_VERSION: '0.10.0'

      - name: Install Test Requirements
        shell: bash
        run: |
          export PATH="/C/Program Files (x86)/Windows Kits/10/bin/10.0.18362.0/x64;$PATH"
          nox --force-color -e tests --install-only

      - name: Test
        shell: bash
        env:
          SKIP_REQUIREMENTS_INSTALL: true
        run: |
          export PATH="/C/Program Files (x86)/Windows Kits/10/bin/10.0.18362.0/x64;$PATH"
          nox --force-color -e tests -- -vv --instafail tests/

      - name: Upload Logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: runtests-${{ runner.os }}.log
          path: artifacts/runtests-*.log

      - name: Set Exit Status
        if: always()
        run: |
          mkdir exitstatus
          echo "${{ job.status }}" > exitstatus/${{ github.job }}

      - name: Upload Exit Status
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: exitstatus-${{ github.job }}
          path: exitstatus
          if-no-files-found: error

  macOS:
    runs-on: macos-14
    timeout-minutes: 45

    strategy:
      fail-fast: false
      max-parallel: 5

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # We need the full history for update tests
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Python 3.10
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.10'

      - name: Install Nox
        run: |
          python -m pip install --upgrade pip
          pip install "nox==$NOX_VERSION" "uv==$UV_VERSION"
        env:
          # renovate: datasource=pypi depName=nox depType=devDependencies
          NOX_VERSION: '2025.11.12'
          # renovate: datasource=pypi depName=uv depType=devDependencies
          UV_VERSION: '0.10.0'

      - name: Install Test Requirements
        run: |
          nox --force-color -e tests --install-only
          brew install enchant

      - name: Test
        env:
          SKIP_REQUIREMENTS_INSTALL: true
        run: |
          nox --force-color -e tests -- -vv --instafail tests/

      - name: Upload Logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: runtests-${{ runner.os }}.log
          path: artifacts/runtests-*.log

      - name: Set Exit Status
        if: always()
        run: |
          mkdir exitstatus
          echo "${{ job.status }}" > exitstatus/${{ github.job }}

      - name: Upload Exit Status
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: exitstatus-${{ github.job }}
          path: exitstatus
          if-no-files-found: error
